# This file is used for Git repositories to specify intentionally untracked files that Git should ignore. 
# If you are not using git, you can delete this file. For more information see: https://git-scm.com/docs/gitignore
# For useful gitignore templates see: https://github.com/github/gitignore

# Salesforce cache
.sf/
.sfdx/
.localdevserver/
deploy-options.json

# LWC VSCode autocomplete
**/lwc/jsconfig.json

# LWC Jest coverage reports
coverage/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Eslint cache
.eslintcache

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Local environment variables
.env

# Python Salesforce Functions
**/__pycache__/
**/.venv/
**/venv/
force-app/main/default/settings/Account.settings-meta.xml
force-app/main/default/settings/AccountIntelligence.settings-meta.xml
force-app/main/default/settings/Actions.settings-meta.xml
force-app/main/default/settings/Activities.settings-meta.xml
force-app/main/default/settings/Address.settings-meta.xml
force-app/main/default/settings/Ai4m.settings-meta.xml
force-app/main/default/settings/Analytics.settings-meta.xml
force-app/main/default/settings/Apex.settings-meta.xml
force-app/main/default/settings/AppAnalytics.settings-meta.xml
force-app/main/default/settings/AppExperience.settings-meta.xml
force-app/main/default/settings/Blockchain.settings-meta.xml
force-app/main/default/settings/Bot.settings-meta.xml
force-app/main/default/settings/BusinessHours.settings-meta.xml
force-app/main/default/settings/Campaign.settings-meta.xml
force-app/main/default/settings/Case.settings-meta.xml
force-app/main/default/settings/Chatter.settings-meta.xml
force-app/main/default/settings/ChatterEmailsMD.settings-meta.xml
force-app/main/default/settings/CodeBuilder.settings-meta.xml
force-app/main/default/settings/Commerce.settings-meta.xml
force-app/main/default/settings/Communities.settings-meta.xml
force-app/main/default/settings/Company.settings-meta.xml
force-app/main/default/settings/ConnectedApp.settings-meta.xml
force-app/main/default/settings/Content.settings-meta.xml
force-app/main/default/settings/Contract.settings-meta.xml
force-app/main/default/settings/ConversationalIntelligence.settings-meta.xml
force-app/main/default/settings/CustomAddressField.settings-meta.xml
force-app/main/default/settings/CustomerDataPlatform.settings-meta.xml
force-app/main/default/settings/CustomizablePropensityScoring.settings-meta.xml
force-app/main/default/settings/DataDotCom.settings-meta.xml
force-app/main/default/settings/Deployment.settings-meta.xml
force-app/main/default/settings/DevHub.settings-meta.xml
force-app/main/default/settings/Discovery.settings-meta.xml
force-app/main/default/settings/DocumentChecklist.settings-meta.xml
force-app/main/default/settings/DynamicForms.settings-meta.xml
force-app/main/default/settings/EAC.settings-meta.xml
force-app/main/default/settings/EinsteinDocumentCapture.settings-meta.xml
force-app/main/default/settings/EmailAdministration.settings-meta.xml
force-app/main/default/settings/EmailIntegration.settings-meta.xml
force-app/main/default/settings/EmailTemplate.settings-meta.xml
force-app/main/default/settings/EmployeeFieldAccess.settings-meta.xml
force-app/main/default/settings/EmployeeUser.settings-meta.xml
force-app/main/default/settings/EncryptionKey.settings-meta.xml
force-app/main/default/settings/EnhancedNotes.settings-meta.xml
force-app/main/default/settings/Entitlement.settings-meta.xml
force-app/main/default/settings/Essentials.settings-meta.xml
force-app/main/default/settings/Event.settings-meta.xml
force-app/main/default/settings/ExperienceBundle.settings-meta.xml
force-app/main/default/settings/ExternalClientApp.settings-meta.xml
force-app/main/default/settings/FieldService.settings-meta.xml
force-app/main/default/settings/FilesConnect.settings-meta.xml
force-app/main/default/settings/FileUploadAndDownloadSecurity.settings-meta.xml
force-app/main/default/settings/Flow.settings-meta.xml
force-app/main/default/settings/Forecasting.settings-meta.xml
force-app/main/default/settings/Formula.settings-meta.xml
force-app/main/default/settings/GoogleApps.settings-meta.xml
force-app/main/default/settings/Ideas.settings-meta.xml
force-app/main/default/settings/IdentityProvider.settings-meta.xml
force-app/main/default/settings/IncidentMgmt.settings-meta.xml
force-app/main/default/settings/Industries.settings-meta.xml
force-app/main/default/settings/IndustriesEinsteinFeature.settings-meta.xml
force-app/main/default/settings/InvocableAction.settings-meta.xml
force-app/main/default/settings/IoT.settings-meta.xml
force-app/main/default/settings/Knowledge.settings-meta.xml
force-app/main/default/settings/KnowledgeGeneration.settings-meta.xml
force-app/main/default/settings/Language.settings-meta.xml
force-app/main/default/settings/LeadConfig.settings-meta.xml
force-app/main/default/settings/LightningExperience.settings-meta.xml
force-app/main/default/settings/LiveAgent.settings-meta.xml
force-app/main/default/settings/Macro.settings-meta.xml
force-app/main/default/settings/MailMerge.settings-meta.xml
force-app/main/default/settings/Meetings.settings-meta.xml
force-app/main/default/settings/Mobile.settings-meta.xml
force-app/main/default/settings/MyDomain.settings-meta.xml
force-app/main/default/settings/Name.settings-meta.xml
force-app/main/default/settings/Notifications.settings-meta.xml
force-app/main/default/settings/OauthOidc.settings-meta.xml
force-app/main/default/settings/ObjectLinking.settings-meta.xml
force-app/main/default/settings/OmniChannel.settings-meta.xml
force-app/main/default/settings/OmniChannelPricing.settings-meta.xml
force-app/main/default/settings/Opportunity.settings-meta.xml
force-app/main/default/settings/Order.settings-meta.xml
force-app/main/default/settings/OrderManagement.settings-meta.xml
force-app/main/default/settings/Org.settings-meta.xml
force-app/main/default/settings/Pardot.settings-meta.xml
force-app/main/default/settings/PardotEinstein.settings-meta.xml
force-app/main/default/settings/PartyDataModel.settings-meta.xml
force-app/main/default/settings/PathAssistant.settings-meta.xml
force-app/main/default/settings/PaymentsManagementEnabled.settings-meta.xml
force-app/main/default/settings/Picklist.settings-meta.xml
force-app/main/default/settings/PlatformEncryption.settings-meta.xml
force-app/main/default/settings/PlatformEvent.settings-meta.xml
force-app/main/default/settings/Portals.settings-meta.xml
force-app/main/default/settings/PredictionBuilder.settings-meta.xml
force-app/main/default/settings/Privacy.settings-meta.xml
force-app/main/default/settings/Product.settings-meta.xml
force-app/main/default/settings/QuickText.settings-meta.xml
force-app/main/default/settings/Quote.settings-meta.xml
force-app/main/default/settings/RealTimeEvent.settings-meta.xml
force-app/main/default/settings/RecommendationBuilder.settings-meta.xml
force-app/main/default/settings/RecordPage.settings-meta.xml
force-app/main/default/settings/RetailExecution.settings-meta.xml
force-app/main/default/settings/Sandbox.settings-meta.xml
force-app/main/default/settings/SceGlobalModelOptOut.settings-meta.xml
force-app/main/default/settings/Schema.settings-meta.xml
force-app/main/default/settings/Search.settings-meta.xml
force-app/main/default/settings/Security.settings-meta.xml
force-app/main/default/settings/ServiceCloudVoice.settings-meta.xml
force-app/main/default/settings/ServiceSetupAssistant.settings-meta.xml
force-app/main/default/settings/Sharing.settings-meta.xml
force-app/main/default/settings/Site.settings-meta.xml
force-app/main/default/settings/SourceTracking.settings-meta.xml
force-app/main/default/settings/Survey.settings-meta.xml
force-app/main/default/settings/SystemNotification.settings-meta.xml
force-app/main/default/settings/Territory2.settings-meta.xml
force-app/main/default/settings/Trailhead.settings-meta.xml
force-app/main/default/settings/TrialOrg.settings-meta.xml
force-app/main/default/settings/UserEngagement.settings-meta.xml
force-app/main/default/settings/UserInterface.settings-meta.xml
force-app/main/default/settings/UserManagement.settings-meta.xml
force-app/main/default/settings/Voice.settings-meta.xml
force-app/main/default/settings/WebToX.settings-meta.xml
force-app/main/default/settings/WorkDotCom.settings-meta.xml
